.data-block__btn-wrap {
  display: flex;
  align-items: flex-start;
}

.data-block__btn {
  background: none;
  outline: none;
  border: none;
  color: #0f62fe;
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  margin-left: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.icon {
  fill:#0f62fe;
  margin: 0 0 0 10px;
}

