<div class="card">
  <p class="card__text">
    Задания намеченных от от постоянный сложившаяся анализа задания
    административных в задача реализации и нашей также показывает, значение
    формировании условий.
  </p>
  <div class="card__btn-wrap">
    <button class="data-block__btn" type="button">
    <svg
      id="icon"
      width="14"
      height="13"
      class="icon"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32 32"
    >
      <defs>
        <style>
          .cls-1 {
            fill: none;
          }
        </style>
      </defs>
      <title>add-comment</title>
      <path
        d="M17.74,30,16,29l4-7h6a2,2,0,0,0,2-2V8a2,2,0,0,0-2-2H6A2,2,0,0,0,4,8V20a2,2,0,0,0,2,2h9v2H6a4,4,0,0,1-4-4V8A4,4,0,0,1,6,4H26a4,4,0,0,1,4,4V20a4,4,0,0,1-4,4H21.16Z"
        transform="translate(0 0)"
      />
      <polygon
        points="17 9 15 9 15 13 11 13 11 15 15 15 15 19 17 19 17 15 21 15 21 13 17 13 17 9"
      />
      <rect
        id="_Transparent_Rectangle_"
        data-name="&lt;Transparent Rectangle&gt;"
        class="cls-1"
      />
    </svg>
  </button>
    <button class="data-block__btn" type="button">
    <svg
      version="1.1"
      id="icon"
      class="icon"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      width="12px"
      height="12px"
      viewBox="0 0 32 32"
      style="enable-background:new 0 0 32 32;"
      xml:space="preserve"
    >
      <style type="text/css">
        .st0 {
          fill: none;
        }
      </style>
      <title>edit</title>
      <rect x="2" y="26" width="28" height="2" />
      <path
        d="M25.4,9c0.8-0.8,0.8-2,0-2.8c0,0,0,0,0,0l-3.6-3.6c-0.8-0.8-2-0.8-2.8,0c0,0,0,0,0,0l-15,15V24h6.4L25.4,9z M20.4,4L24,7.6
            l-3,3L17.4,7L20.4,4z M6,22v-3.6l10-10l3.6,3.6l-10,10H6z"
      />
      <rect
        id="_Transparent_Rectangle_"
        class="st0"
        width="32"
        height="32"
      />
    </svg>
  </button>
  </div>
</div>