.list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-head {
  color: #6F6F6F;
  font-weight: 600;
}
li {
  min-height: 48px;
  line-height: 170%;
  height: auto;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #e0e0e0;
  box-sizing: border-box;
  padding-left: 16px;
}

@media (max-width: 600px) {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
